body {
   margin: 0;
   padding: 0;
   background-color:  lightGray;
   font-family: Tahoma, sans-serif;
   font-size: 1em;
}

.heading {
  padding: 12px;
  background: #008080;
  border: 6px solid white;
  font-size: 1.5em;
  font-style: italic;
  font-family: Tahoma;
  text-align: center;
  height: 60px;
}

.menuAndContent {
  width: 100%;
  height: 100%;
}

.menu {
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  position: absolute;
  left: 15px;
  height: 90%;
  width: 210px;
  background: #999999;#CCCCCC
  top: 90px;
}

.content {
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  border: 6px solid white;
  background: #CCCCCC;	
  position:absolute;
  left: 225px; 
  right: 60px;
  top: 90px;
  height: 90%;
}
