<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
  <div>
	<h:form>
	  <ul>
		<li>
		   <h:commandButton value="INDEX" action="index?faces-redirect=true"></h:commandButton>
		</li>
		<li>
		 <h:commandButton value="ADD REPAIR" action="addRepair?faces-redirect=true"></h:commandButton>
	</li>
		<li>
		 <h:commandButton value="SHOW REPAIR" action="showRepair?faces-redirect=true"></h:commandButton>
		</li>
	</ul>
   </h:form>
  </div>
</ui:composition>