<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/tpl/default.xhtml">
	<ui:define name="content">
		<h:form id="personform">
			<h:panelGrid columns="3">

				<h:outputText value="clientId" />
				<h:inputText id="clientId" value="#{repairBean.repair.clientId}" />
<br></br>
				<h:outputText value="motobikeId" />
				<h:inputText id="motobikeId" value="#{repairBean.repair.motobikeId}" />
<br></br>
				<h:outputText value="workplaceId" />
				<h:inputText id="workplaceId" value="#{repairBean.repair.workplaceId}" />
			</h:panelGrid>

			<h:commandButton value="ADD"
				action="#{repairBean.addRepair}" />
				
			<h:panelGrid>
				<h:messages showDetail="#{true}" showSummary="#{false}" />
			</h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>