<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/tpl/default.xhtml">
	<ui:define name="content">
<center>Damian Ciesielski s10363 - JAZ PROJEKT</center>
	</ui:define>
</ui:composition>