<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/tpl/default.xhtml">
	
	<ui:define name="content">
	
    <h:form>
    
     <h:dataTable value="#{repairBean.allRepairs}" var="item">
      <f:facet name="header">#{msg.repairAllLabel}</f:facet>
      
      <h:column>
        <f:facet name="header">#{msg.repairClientIdLabel}</f:facet>
        #{item.clientId}
      </h:column>
      
        <h:column>
        <f:facet name="header">#{msg.repairClientIdLabel}</f:facet>
        #{item.clientId}
      </h:column>
      
      <h:column>
        <f:facet name="header">#{msg.repairWorkplaceIdLabel}</f:facet>
        #{item.workplaceId}
      </h:column>
      
      <h:column>
        <f:facet name="header">#{msg.action}</f:facet>
        <h:commandButton value="DELETE REPAIR" action="#{repairBean.deleteRepair}"></h:commandButton>
      </h:column>
      
     </h:dataTable>
    </h:form>
      
	</ui:define>
	
</ui:composition>